<h1> <%= current_user.name %>'s Account </h1>

<% unless current_user.maps.empty? %>
  <h2>My Maps:</h2>
  <% current_user.maps.each do |map| %>
    <%=button_to map.name, map, method: :get %>
  <% end %>
<% else %>
  You don't have any maps yet :(

<% end %>
<%= button_to "Create a New Map", new_map_path, method: :get %>
